APP_ENCRYPTION_KEY=zmien-mnie-na-dlugi-losowy-ciag-znakow
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5436/returns
SPRING_DATASOURCE_USERNAME=returns
SPRING_DATASOURCE_PASSWORD=returns
SPRING_DATA_REDIS_HOST=localhost
SPRING_DATA_REDIS_PORT=6381
SERVER_PORT=8081
APP_CORS_ORIGINS=http://localhost:4201
